<h1>Dragonball Page</h1>
<hr>

<section  class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre">
    <input type="number" class="form-control mt-2" placeholder="Poder">

  </div>

  <div class="col-12 col-sm-6">
    <h3>Lista:</h3>
    <ul class="list-group">
      <li class="list-group-item">Goku</li>
      <li class="list-group-item">Vegeta</li>
      <li class="list-group-item">Gohan</li>
    </ul>
  </div>

</section>
